Makefile
config.h
config.log
config.status
src/Makefile
stamp-h
src/src
stamp-h1
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile.in
*.o
.idea
CMakeLists.txt
ar-lib
