config.h
config.log
config.status
Makefile
src/Makefile
stamp-h
src/src
stamp-h1
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile.in
*.o
.idea
CMakeLists.txt
ar-lib
config.h.in~
src/libtreelib.a
*.compilation-database.json
-ferror-limit=50
*.gch
src/test_tree
src/test_treeprinter
src/treeprinter/.deps/
src/treeprinter/test_pre_print_tree_analysis
src/treeprinter/test_treeprinter
