config.h
config.log
config.status
config.sub
config.guess
stamp-h
src/src
stamp-h1
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
depcomp
install-sh
missing
src/.deps/
*.o
.idea
CMakeLists.txt
ar-lib
config.h.in~
src/libtreelib.a
*.compilation-database.json
-ferror-limit=50
*.gch
src/test_tree
src/test_treeprinter
src/treeprinter/.deps/
*.Po
test-driver
*.log
*.la
*.lo
*.bin
*.trs
*Makefile
*Makefile.in
*.libs
*.deps
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# binaries (TODO: find a better way for ignoring those)
src/dirpicker/dirpicker
src/picker/picker
core
